h1{
  text-align: center;
  background-color: blue;
  color: yellow;
}
.links{
  float: left;
  background-color: yellow;
}
.image{
  float: right;
  width:50%;
}
.quote{
  font-style: italic;
}
.main{
  font-weight: bolder;
  color: red;
}
h2{
  text-align: center;
  text-decoration: underline;
}
.about{
  text-align: center;
}
body{
  background-color: #B0E0E6;
}
h5{
  font-weight: bolder;
  font-size: 20px;
  text-decoration: underline;
}
#intrests{
  float: right;
}
h6{
 text-align: center;
 font-size:20px;
 text-decoration: underline;
}
.hobskills{
  float:left;
 background-color: springgreen;
 color: yellow;
}
.copyright{
  text-align: center;
  clear: both;
}
h4{
  text-decoration: underline;
}
h3{
  text-decoration: underline;
}
