h1{
  text-align: center;
  background-color: blue;
  color: yellow;
}
.links{
  float: left;
  background-color: yellow;
}
.image{
  float: right;
  width:50%;
}
.quote{
  font-style: italic;
}
.main{
  font-weight: bolder;
  color: red;
}
h2{
  text-align: center;
}
.about{
  text-align: center;
}
body{
  background-color: #B0E0E6;
}
h5{
  font-weight: bolder;
}
#intrests{
  float: right;
}
h6{
 text-align: center;
}
.hobskills{
  float:left;
  background-color: springgreen;
}
.copyright{
  text-align: center;
  clear: both;
}
